{% schema %}
{
	"name": "FAQ",
	"class": "section",
	"settings": [
		{
			"type": "text",
			"id": "question",
			"label": "Question",
			"default": "Question?"
		}, {
			"type": "textarea",
			"id": "answer",
			"label": "Answer",
			"default": "Your answer here"
		}
	],

	"presets": [
	{
		"name": "FAQ Preset"
	}]
}
{% endschema %}


<div>Hello world this is my FAQ :) Not any more. DOes this update without a refersh?</div>